<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1" />
    <title>JSON clock</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body style="background-color: #1f1f1f;">
    <p>&#123;</p>
    <ul>
        <li><span class="name">"hour"</span> : <span class="value">{{hour}}</span>,</li>
        <li><span class="name">"minute"</span> : <span class="value">{{minute}}</span>,</li>
        <li><span class="name">"second"</span> : <span class="value">{{second}}</span>,</li>
        <li><span class="name">"year"</span> : <span class="value">{{year}}</span>,</li>
        <li><span class="name">"month"</span> : <span class="value">{{month}}</span>,</li>
        <li><span class="name">"day"</span> : <span class="value">{{day}}</span>,</li>
        <li><span class="name">"battery"</span> : <span class="value">{{battery}}</span></li>
    </ul>
    <p>&#125;</p>
</body>
</html>